// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//navigation bar
.navbar {
  display: flex;
  background-color: rgba(1,1,1,.1);
  margin: 0;
  height: 35px;
  li {
    width: 10%;
    list-style: none;
    text-align: center
  }
  a {
    font-size: 1.1em;
    text-decoration: none;
  }
}
